
<h3>Welcome! Here are all my books.</h3>
<a href="/add_book"><button type="submit"class="btn btn-primary">Add New</button></a>
<br>
<% @output.each do |book| %>
    <img class="cover" src="http://covers.librarything.com/devkey/c1fb82c39ddb73064b12f485ed423425
/medium/isbn/<%= book["isbn"] %>">
    <h4 class="book_title"><%= book["title"] %> </h4>
    <p>Author: <%= book["author"] %> </p>
    <p>Description/Review: <%= book["description"] %> </p>

    <form action="/update/<%=book["title"]%>/<%=book["author"]%>/<%=book["description"]%>" method="post" class="buttons">
        <input type="submit" name="update" value="Edit" class="btn btn-primary">
    </form>


    <form action="/delete/<%= book["title"] %>" method="post" class="buttons">
        <input type="submit" name="delete" value="Delete" class="btn btn-primary">
    </form>

<% end %>
